name: CI
'on':
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint-dockerfile:
    name: Lint Dockerfile
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Run Hadolint Dockerfile Linter
        uses: burdzwastaken/hadolint-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HADOLINT_ACTION_DOCKERFILE_FOLDER: docker
  lint-code:
    name: Lint JavaScriptg
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4
      - name: Use Node.js 24.x
        uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - name: Run EsLint Node.js Linter
        run: |
          npm install
          npm run lint
  tests:
    name: Integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x

      - name: Docker info
        run: |
          docker version
          docker info

      - name: Install dependencies
        run: |
          npm install

      - name: Run tests
        env:
          TESTCONTAINERS_RYUK_DISABLED: "true"
          DOCKER_HOST: "unix:///var/run/docker.sock"
        run: |
          npm test
